#include <physical_layouts.dtsi>
#include <layouts/common/ortho_5x12/all1u.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
    };
};

